/* -- Colors -- */
.super-flex {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #333333;
  height: 100%;
  width: 100vw;
}
.main-header {
  position: fixed;
  background-color: #7851A9;
  border-bottom: 0.2rem solid #F9ED6C;
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 1.5rem;
  z-index: 10;
}
.main-header .small-logo {
  height: 75%;
  width: auto;
}
.main-header-nav {
  position: relative;
  height: 75%;
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 27.5%;
}
.main-header-nav-link {
  position: relative;
  height: 100%;
  width: 20%;
  border-radius: 2rem;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header-nav-link:hover {
  background-color: #EEEEEE;
}
.main-footer {
  position: relative;
  background-color: #7851A9;
  border-top: 0.2rem solid #F9ED6C;
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.main-footer .small-logo {
  height: 75%;
  width: auto;
  margin-right: 1rem;
}
html {
  font-size: 62.5%;
  font-family: Bree Serif, Berlin Sans FB, Arial, Helvetica, sans-serif;
}
.super-flex .main-header-nav-link {
  font-size: 1.4rem;
  color: #EEEEEE;
  text-decoration: none;
}
.super-flex .main-header-nav-link:hover {
  color: #333333;
}
.super-flex .main-footer .copyright {
  font-size: 2rem;
  color: #EEEEEE;
}
.intro-section,
.about-section,
.upcoming-features-section,
.contact-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.about-section,
.contact-section {
  background-color: rgba(238, 238, 238, 0.05);
}
.intro-section {
  flex-direction: column;
  align-items: center;
}
.upcoming-features-section {
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  padding: 2% 0;
}
.upcoming-features-section .listed-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.upcoming-features-section .listed-items li {
  margin: 50px;
}
.upcoming-features-section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upcoming-features-section button {
  width: 10%;
  padding: 1%;
  border-radius: 10px;
  background-color: #7851A9;
  color: white;
  cursor: pointer;
}
.upcoming-features-section button:hover {
  background-color: #533875;
}
