.main-footer{
    position: relative;
    background-color: @primary;
    border-top: .2rem solid @secondary;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    .small-logo{
        height: 75%;
        width: auto;
        margin-right: 1rem;
    }
}