// Home Page Less

.intro-section, .about-section, .upcoming-features-section, .contact-section{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.about-section, .contact-section{
    background-color: rgba(@smoke-white, .05);
}

.intro-section{
    flex-direction: column;
    align-items: center;
}

.upcoming-features-section{

    color: @smoke-white;

    .display-layout(column, space-around, center);
    font-size: 2rem;

    .listed-items-page {
        .display-layout(column, space-between, flex-start);
        font-size: 2rem;
        width: 98%;

        h2 {
            padding-bottom: 1%;
        }

        p {
            padding-bottom: 3%;
        }
    }

    h1 {
        font-size: 4rem; 
        color: @smoke-white
    }
    
    .listed-items {
        .display-layout(row, space-between, center);
    
        li {
            margin: 40px;
        }
    }
    
    ul {
        .display-layout(column, center, center);
    }
    
    button {
        width: 10%;
        padding: 1%;
        border-radius: 10px;
        background-color: @primary;
        color: white;
        cursor: pointer;
      
        &:hover {
          background-color: darken(@primary, 15%)
        }
    }
}
  
  
  
