// Home Page Less

.intro-section, .about-section, .upcoming-features-section, .contact-section{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.about-section, .contact-section{
    background-color: rgba(@smoke-white, .05);
}

.intro-section{
    flex-direction: column;
    align-items: center;
}

