// Home Page Less

.intro-section, .about-section, .upcoming-features-section, .contact-section{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.about-section, .contact-section{
    background-color: rgba(@smoke-white, .05);
}

.intro-section{
    flex-direction: column;
    align-items: center;
}

// Upcoming Features Section =====================================================
.upcoming-features-section {
    .display-layout(column, space-around, center);
    color: @smoke-white;
    }

    h1 {
        font-size: 4rem; 
        color: @smoke-white 
    }
    
    .listed-items {
        .display-layout(row, space-between, center);

        @media @mobile {
            .display-layout(column, space-between, flex-start);
        }
    
        li {
            margin: 40px;
            font-size: 2.5rem;

            @media @mobile {
                margin: 20px;
            }
        }
    }
    
    ul {
        .display-layout(column, center, center);
    }
