// navigation
.main-header{
    .position(fixed, 5rem, 100vw);
    background-color: @primary;
    border-bottom: .2rem solid @secondary;

    .flexible-display-layout(flex, space-between, center);
    margin: 0;
    padding: 0 1.5rem;

    z-index: 10;

    .small-logo{
        .dimensions(75%, auto);
    }

    &-nav{
        .position(relative, 75%, 45%);
        .flexible-display-layout(flex, space-between, center);
        margin-right: 27.5%;
        &-link{
            .position(relative, 100%, 20%);
            border-radius: 2rem;
            margin: 0 1rem;
            .flexible-display-layout(flex, center, center);
            transition: background-color .5s, color .5s;
            &:hover{
                background-color: @smoke-white;
            }
        }
    }
}