.app-features-section{
    .position(relative, 100vh, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    .app-features-container{
        .dimensions(100%, 95%);
        .flexible-display-layout(flex, space-evenly, center);
        .feature-container{
            .dimensions(50%, 15%);
            .expanded-flexible-display-layout(flex, column, space-evenly, center);
            background-color: rgba(@primary, .4);
            border: .4rem groove @primary;
            padding: 2rem;
            margin: 0 1rem;
            transition: height .5s, width .5s, background-color .5s;
            &:hover{
                cursor: pointer;
                .dimensions(55%, 17.5%);
                background-color: rgba(@secondary, 1);
                border: .4rem groove @secondary;
            }
            &:hover + &:not(&:hover){
                .dimensions(50%, 15%);
            }
            img{
                .dimensions(10rem, 80%);
            }
            &:last-of-type{
                img{
                    .dimensions(10rem, auto);
                }
            }
        }
    }
    .button-link{
        transform: translateY(-8rem);
    }
}