// Typography Here

//HTML
html {
    font-size: 62.5%;
    font-family: Bree Serif, Berlin Sans FB, Arial, Helvetica, sans-serif;
}

.super-flex{
    .main-header{
        &-nav{
            &-link{
                font-size: 1.4rem;
                color: @smoke-white;
                text-decoration: none;
                &:hover{
                    color: @night-rider;
                }
            }
        }
    }

    .main-footer{
        .copyright{
            font-size: 2rem;
            color: @smoke-white;
        }
    }
}
