// Typography Here

//HTML
html {
    font-size: 62.5%;
    font-family: Bree Serif, Berlin Sans FB, Arial, Helvetica, sans-serif;
}

button {
    font-size: 1.6rem;
    font-weight: bold;
    color: @smoke-white;
    &:hover{
        color: @night-rider;
    }
    @media @mobile {
        font-size: 1.5rem;
    }
}

.super-flex{
    .main-header{
        &-nav{
            &-link{
                font-size: 1.4rem;
                color: @smoke-white;
                text-decoration: none;
                &:hover{
                    color: @night-rider;
                }
                @media(max-width: 600px){
                    font-size: 1.2rem;
                }
            }
        }
    }

    .intro-section{
        &-introduction{
            &-header{
                font-size: 4rem;
                font-weight: bold;
                color: @smoke-white;
                @media(max-width: 1175px){
                    font-size: 3rem;
                }
            }
            &-pitch{
                font-size: 1.6rem;
                color: rgba(@smoke-white, .7);
                text-align: center;
                @media(max-width: 1175px){
                    font-size: 1.4rem;
                }
            }
        }
        .button-container{
            .button{
                font-size: 1.6rem;
                font-weight: bold;
                color: @smoke-white;
                &:hover{
                    color: @night-rider;
                }
            }
            .button-link button{
                font-size: 1.6rem;
                font-weight: bold;
                color: @smoke-white;
                &:hover{
                    color: @night-rider;
                }
            }
        }
    }

    .about-section{
        &-header{
            font-size: 10rem;
            font-weight: bold;
            color: @smoke-white;
            @media(max-width: 1325px){
                font-size: 7rem;
            }
            @media(max-width: 925px){
                font-size: 5.5rem;
            }
            @media(max-width: 720px){
                font-size: 4rem;
            }
            @media(max-width: 530px){
                font-size: 3rem;
            }
        }
        .photo-card-container{
            .photo-bio-box{
                &:hover > .bio-container > .bio-header{
                    font-size: 2.2rem;
                    color: @secondary;
                }
                &:hover > .bio-container > .bio-greeting{
                    font-size: 1.8rem;
                    line-height: 2rem;
                    color: @secondary;
                }
                @media(max-width: 1050px){
                    &:hover > .bio-container > .bio-header{
                        font-size: 1.8rem;
                        color: @secondary;
                    }
                    &:hover > .bio-container > .bio-greeting{
                        font-size: 1.4rem;
                        line-height: 2rem;
                        color: @secondary;
                    }
                }
                @media(max-width: 840px){
                    &:hover > .bio-container > .bio-header{
                        font-size: 1.4rem;
                        color: @secondary;
                    }
                    &:hover > .bio-container > .bio-greeting{
                        font-size: 1.2rem;
                        line-height: 2rem;
                        text-align: center;
                        color: @secondary;
                    }
                }
                .bio-container{    
                    color: @smoke-white;
                    .bio-header{
                        font-size: 1.8rem;
                        @media(max-width: 1325px){
                            font-size: 1.4rem;
                        }
                        @media(max-width: 1175px){
                            font-size: 1.2rem;
                        }
                    }
                    .bio-greeting{
                        font-size: 1.5rem;
                        line-height: 1.6rem;
                        text-align: center;
                        @media(max-width: 1325px){
                            font-size: 1.2rem;
                        }
                        @media(max-width: 1210px){
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .button-link{
            font-size: 1.6rem;
                font-weight: bold;
                color: @smoke-white;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    color: @night-rider;
                }
        }
    }
    
    .employee-name{
        font-size: 6rem;
        font-weight: bold;
        color: @smoke-white;
        @media(max-width: 950px){
            font-size: 4rem;
            transform: translateY(-3rem);
        }
        @media(max-width: 700px){
            transform: translateY(0rem);
        }
        @media(max-width: 600px){
            font-size: 3rem;
        }
    }

    .employee-intro{
        font-size: 2.4rem;
        color: @smoke-white;
        @media(max-width: 950px){
            font-size: 2rem;
        }
        @media(max-width: 600px){
            font-size: 1.6rem;
        }
        .employee-greeting{
            font-size: 5rem;
            font-weight: bold;
            text-align: center;
            @media(max-width: 950px){
                font-size: 3.5rem;
            }
            @media(max-width: 600px){
                font-size: 2.4rem;
            }
        }
    }

    .app-features-section{
        .app-features-header{
            font-size: 7rem;
            color: @smoke-white;
            transform: translateY(5rem);

            @media(max-width: 1350px){
                transform: translateY(-2rem);
            }
            @media(max-width: 840px){
                font-size: 5rem;
                transform: translateY(-4rem);
            }

        }
        .app-features-container{
            .feature-container{
                .feature-header{
                    font-size: 1.8rem;
                    color: @smoke-white;
                    text-align: center;
                    transition: font-size .5s, color .5s;
                }
                .feature-intro{
                    font-size: 1.2rem;
                    color: @smoke-white;
                    text-align: center;
                    transition: font-size .5s, color .5s;
                }
                &:hover{
                    .feature-header{
                        font-size: 2rem;
                        color: @night-rider;
                    }
                    .feature-intro{
                        font-size: 1.4rem;
                        color: @night-rider;
                    }
                }
                @media(max-width: 1350px){
                    .feature-header{
                        font-size: 1.4rem;
                    }
                    .feature-intro{
                        font-size: 1rem;
                    }
                    &:hover{
                        .feature-header{
                            font-size: 1.7rem;
                        }
                        .feature-intro{
                            font-size: 1.2rem;
                        }
                    }
                }
                @media(max-width: 580px){
                    .feature-header{
                        font-size: 1.2rem;
                    }
                    .feature-intro{
                        font-size: 1rem;
                    }
                    &:hover{
                        .feature-header{
                            font-size: 1.2rem;
                        }
                        .feature-intro{
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    // Upcoming Features Section =====================================================

    .upcoming-features-section-page {
        color: @smoke-white;    
        .listed-items-page {
            font-size: 2rem;    
            @media @mobile {
                font-size: 1.8rem;
                margin-top: 0;
              
                p {
                    text-align: justify;
                    text-justify: inter-word;
                }
            }
    
            .feature {                
                .header-text {
                    line-height: 1.2;
        
                    h2 {
                        font-size: 3rem;
                    }
                }
            }
        }
    
        h1 {
            font-size: 4rem; 
            color: @smoke-white 
        }
    }

    .upcoming-features-section {
        color: @smoke-white;
        }
        h1 {
            font-size: 4rem; 
            color: @smoke-white 
        }
        .listed-items {        
            li {
                font-size: 2.5rem;
            }
        }
// Contact Section =====================================================
    .contact-section{
        .container-contact {   
            .contact-form-title {
                font-size: 3rem;
                color: @smoke-white;
                line-height: 1.2;
                text-transform: uppercase;
                text-align: center;
            }
            .wrap-input {
                .input {
                    font-size: 1.8rem;
                    color: @night-rider;
                    line-height: 1.2;
                }
            }
        }
    }

    .main-footer{
        .copyright{
            font-size: 2rem;
            color: @smoke-white;
        }
    }
}


