// Upcoming Features Section =========================================================
.upcoming-features-section {
    color: @smoke-white;
    .display-layout(column, space-around, center);
    font-size: 2rem;

    h1{
        margin-top: 2%;
        margin-bottom: -5%;
    }

    .listed-items-page {
        .display-layout(row, space-around, flex-start);
        font-size: 2rem;
        width: 98%;
        flex-wrap: wrap;

        .feature {
            .display-layout(row, space-around, center);
            width: 90%;
            
            .header-text {
                .display-layout(column, space-around, center);
                width: 60%;
                p {
                    padding: 0 2% 3% 2%;
                }
    
                h2 {
                    padding: 3% 0;
                    font-size: 3rem;
                }
            }

            img {
                width: 30%;
                border-radius: 5%;
            }

        }
    }

    h1 {
        font-size: 4rem; 
        color: @smoke-white 
    }
    
    .listed-items {
        .display-layout(row, space-between, center);
    
        li {
            margin: 40px;
        }
    }
    
    ul {
        .display-layout(column, center, center);
    }
    
    button {
        width: 10%;
        padding: 1%;
        border-radius: 10px;
        background-color: @primary;
        color: white;
        cursor: pointer;
      
        &:hover {
          background-color: darken(@primary, 15%)
        }
    }
}